<div class="banner">
        <div style="display:inline-block; vertical-align:top;">
            <h1>Linguist Master</h1>
        <np/div>
            <h2>A Free And Easy To Use Lanugage Tool</h2>
            <h3>Interactive Flashcards to help you learn the language of your choice.</h3>
        <br>
        <h3>Available Languages</h3>
        <hr>
   </div>
   <div id="languages">
        <div class="card" style="width: 10rem;">
            <a href="/spanish">
                <img class="card-img-top" src="/images/SpainFlag.png" alt="Spain Flag" style="width: 10rem;">
                <div class="container">
                    <p class="card-text"><b>Spanish</b></p>
                </div>
            </a>
        </div>
   </div>