<div class="center">
    <!--Make this look better, kinda copy the github main website design-->
    <h1>{{title}}</h1>
    <p>Quizzing your foreign language vocabulary</p>

    <br>
    <hr>
    <br>
    <h3>Available Languages:</h3>

</div>

<div class="languages">
    <div class="card" style="width: 18rem;">
        <a href="/spanish">
            <img class="card-img-top" src="/images/SpainFlag.png" alt="Spain Flag">
            <div class="card-body">
                <p class="card-text">Spanish</p>
            </div>
        </a>
    </div>
</div>