body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
}

a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: black;
}

.center {

  text-align: center;

}

#leftCol {
  visibility: hidden;
}

#rightCol {
  visibility: hidden;
}

/* Inccorect on the Questions Page */
.incorrect {
  color: red;
}

/* Correct on the Questions Page */
.correct {
  color: green;
}

/* Custom Navbar */
ul.topnav {
    font-size: 18px;
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
    background-color: #b2bec3;
}

ul.topnav li {
    display: inline-block;
    float: none;
}

ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover {
    background-color: #dfe6e9;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}

